$brown: #66542e;
$green: #2cdb35;
$white: #ffffff;
$blue: #0099ff;
$black: #000000;
$light-blue: #08e2ff;
$dark-red: #682c2c;
$red: #ff0000;
$gray: #969191;
$lato: Lato;

$desktop-width-large: 1310px;
$desktop-width: 1024px;
$table-width-large: 768px;
$table-width-small: 600px;
$mobile-width-large: 500px;
$mobile-width-middle: 428px;
$mobile-width-small: 370px;
